:root {
  --primary-color: #2696eb;
  --accent-color:#eb6826;
  --brdr-rad: 10px;
  --shadow-color: #c9c3c3;
}

.screens {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #e3e3e3;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.prblm-div {
  display: flex;
  flex-direction: column;
  background-color: #321E1E;
  color: white;
  grid-row: 1/3;
  padding: 10px;
  box-shadow: 2px 2px 15px 5px var(--shadow-color);
  margin: 10px 10px 0 10px;
  border-radius: var(--brdr-rad);
}
.prblm {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.prblm h3 {
  font-size: 1em;
  margin: 10px;
}
.prblm input {
  width: 80%;
  background-color: #ffffff;
}

.prblm input:focus {
  border-bottom: 2px solid var(--primary-color);
  /* box-shadow: 1px 1px 1px 1px #dfdfdf; */
}
.sec-screen-div {
  /* background-color: brown; */
  grid-row: 3/10;
  border-radius: var(--brdr-rad);
  /* border: 1px solid grey; */
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 15px 5px var(--shadow-color);
}

.tags-div {
}

.lower-div {
  /* background-color: goldenrod; */
  grid-row: 10/13;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6, 1fr);
}

.main-screen-div {
  /* background-color: darkcyan; */
  grid-row: 1/7;
  border-radius: var(--brdr-rad);
  /* border: 1px solid black; */
  margin: 10px;
  margin-top: 0;
  padding: 10px;

  box-shadow: 2px 2px 15px 5px var(--shadow-color);
}
.prblm-div-main {
  grid-row: 1/5;
  background-color: #321E1E;
  color: whitesmoke;
  /* background-color: aqua; */
  padding: 10px;
  margin: 10px;
  margin-top: 0;
  border-radius: var(--brdr-rad);
  box-shadow: 2px 2px 15px 5px var(--shadow-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.prblm-main {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}
.prblm-main h3 {
  font-size: 0.8em;
  margin: 0 10px;
}

/* .prblm-main input {
  width: 70%;
} */
.prblm-main input:focus {
  border-bottom: 2px solid var(--primary-color);
  /* box-shadow: 1px 1px 1px 1px #dfdfdf; */
}

.btns-div {
  grid-row: 5/7;
  background-color: rgb(197, 197, 197);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-radius: var(--brdr-rad);
  box-shadow: 2px 2px 15px 5px var(--shadow-color);
  margin: 0 10px;
  margin-bottom: 10px;
}
.btns-div i {
  background: transparent;
  font-size: 25px;
}

.btns-div button:nth-child(1) {
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 50%;
  left: 40px;
  border: none;
}
.btns-div button:nth-child(2) {
  position: absolute;
  right: 20%;
}
.btns-div button:nth-child(3) {
  position: absolute;
  right: 5%;
}

.btn {
  padding: 6px 25px;
  font-size: 1.2em;
  border-radius: var(--brdr-rad);
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
}

.git-link-div {
  background-color: rgb(255, 255, 255);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 0;
  margin-right: 10px;
  border-radius: var(--brdr-rad);
  box-shadow: 2px 2px 15px 5px var(--shadow-color);
}
.git-link-div span {
  font-size: 1em;
  margin-right: 10px;
}

.git-link-div input {
  width: 75%;
}

.tags-div {
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  overflow-x: auto;
  border-radius: var(--brdr-rad);
  box-shadow: 2px 2px 15px 5px var(--shadow-color);
  margin-right: 10px;
  padding: 0 10px;
}
.tag-name {
  width: fit-content;
  height: fit-content;
  background-color: rgb(173, 173, 173);
  color: #403f3f;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: var(--brdr-rad);
  font-weight: 200;
  font-size: 1em;
}

.chat-section-div {
  /* background-color: crimson; */
  grid-row: 3/11;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  margin-right: 10px;
  border-radius: var(--brdr-rad);
  box-shadow: 2px 2px 15px 5px var(--shadow-color);
}

.chat-section {
  border-radius: var(--brdr-rad) var(--brdr-rad) 0 0;

  width: 100%;
  height: 90%;
  background-color: rgb(200, 200, 200);
}
.chat-input {
  display: flex;
  width: 100%;
  position: relative;
}
.chat-input input {
  width: 100%;
  font-size: 1.2em;
  padding: 10px;
  background-color: #dddada;
}
.chat-input button {
  position: absolute;
  right: 5px;
  top: 10%;
  font-size: 0.9em;
}
.chat-msg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  padding: 10px;
  border-radius: var(--brdr-rad);
  max-width: 60%;
  position: relative;
}
.chat-name {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: aqua;
  position: absolute;
  top: 10px;
  left: 0;
}
.chat-text {
  background-color: rgb(173, 173, 173);
  margin-left: 35px;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 0 var(--brdr-rad) var(--brdr-rad) var(--brdr-rad);
  max-width: 60%;
  word-wrap: break-word;
}
.main-tags-div {
  display: flex;
  align-items: center;
}
.main-git-div {
  background-color: darkgrey;
  padding: 10px;
  margin-right: 10px;
  border-radius: var(--brdr-rad);
  box-shadow: 2px 2px 15px 5px var(--shadow-color);
}

/* -------------------------- */

.input-style {
  border: none;
  outline: none;
  border-radius: var(--brdr-rad);

  width: 80%;
  background-color: #3e2828;
  color: whitesmoke;
  padding: 5px 10px;
  margin-left: 10px;
  border-bottom: 2px solid transparent;
}

button {
  cursor: pointer;
}
